//colors
$color-black: #10131A;
$color-brand: #790BB5;
$color-white: #ffffff;

// Heading and font-size
$banner-title : 40px;
$section-title : 30px;
$regular-font: 24px;
$font-family: 'Lato',
sans-serif;
$line-height: 40px;
$font-weight: 400;