//colors
$color-black: #10131A;
$color-brand: #790BB5;
$color-white: #ffffff;
$color-light-grey : #FCFCFC;

// Heading and font-size
$banner-title : 50px;
$section-title : 34px;
$regular-text: 22px;

$line-height: 40px;
$font-weight: 400;