.form {
    margin: 120px 0;

    &__item {
        padding: 10px 0;
        margin: 5px 0;
        width: 100%;
    }

    &__item input {
        border-bottom: 1px solid;
        padding: 20px 0 10px 0;
        border-top: none;
        border-left: none;
        border-right: none;
        background: none;
    }
}