// Portfolio

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
        width: 32%;
        margin: 8px;
    }

    &__item img {
        width: 100%;
        background: red;
        margin: .5%;
    }
}